<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Balance Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="left-box">
            <div class="logo">New Balance</div>
        </div>
        <div class="right-box">
            <div class="login-button">👤 Login</div>
            <div class="rounded-boxes">
                <div class="rounded-box nb-box">
                    <div class="brand-container">
                        <img src="images/nb/logo.png" alt="NB Logo" class="brand-logo">
                        <span class="brand-name">New Balance</span>
                    </div>
                    <div class="shoe-image-container">
                        <img src="images/nb/shoe1.png" alt="NB Shoe" class="shoe-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
